@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* overflow: hidden; */
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;

  overflow-x: hidden;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-shadow: none;
  /* box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow); */
  border-color: #b2bac2;
}
.css-xxil8t-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #b2bac2;
  border-width: 2px;
}

.css-xxil8t-MuiInputBase-root-MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border-color: #b2bac2;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.breadcrumb-title {
  color: #666;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0;
  letter-spacing: 1px;
  display: block;
  color: #3a405b;
  margin: 0 0 15px;
  font-weight: 600;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  top: 5px !important;
}

.card {
  background: #fff;
  min-height: 50px;
  position: relative;
  margin-bottom: 24px;
  border: 1px solid #f2f4f9;
  border-radius: 10px;
  box-shadow: 0 0 10px #b7c0ce33;
  -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}
